
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap');
@font-face {
    font-family: 'Coolvetica';
    src: url(/fuente/coolvetica-rg.woff) format(woff);
}
*{
    font-family: 'Roboto';
    font-weight:400;
    margin:0;
    padding: 0;
}
h1 {
    font-family: 'Coolvetica';
    font-size: 120px;
    color: #0a2ff1;
    font-weight:400;
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: 2%;
}
h2{
    color: #04146c;
    font-size: 40px;
    font-weight:300;
    margin-bottom: 1%;
    margin-left: 2%;

}
h3{
    color: #04146c;
    font-style: italic;
    font-weight:300;
    font-size: 24px;
    margin-bottom: 5%;
    margin-top: 2%;
}
h4{
    color: #04146c;
    font-weight:900;
    font-size: 24px;
    margin-bottom: 5%;
    margin-top: 1%;  
}
p{
    font-size: 24px;
    margin-top: 1%;
}
strong{
    font-weight: 700;
}
#contenedor{
    padding: 10px;
    display: flex;
    justify-content: center;
}
div{
    background-color: #eff2ff;
    width: 25%;
    margin: 2%;
    padding: 2%;
}
img{
    width: 30%;
}