
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap');
@font-face {
    font-family: 'Coolvetica';
    src: url(/fuente/coolvetica-rg.woff) format(woff);
}
*{
    font-family: 'Roboto';
    font-weight:400;
    margin:0;
    padding: 0;
}
body{
    padding: 1em;
}
h1 {
    font-family: 'Coolvetica';
    font-size: 120px;
    color: #0a2ff1;
    font-weight:400;
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: 2%;
}
h2{
    color: #0a2ff1;
    font-size: 30px;
    font-weight:900;
    margin-bottom: 5%;
}
p{
    font-size: 24px;
    margin-top: 2%;
    margin: 5%;
    text-align: start;
}

#contenedor{
    display: flex;
    justify-content:center;
}
div{
    background-color: #eff2ff;
    width: 20%;
    margin: 1%;
    text-align: center
}
img{
    width: 25%;
    margin-top: 5%;
    margin-bottom: 3%;
}
#apple{
    width: 18%;
}