@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;900&display=swap');

*{
    font-family: 'Mulish';
    font-weight:400;
    margin:0;
    padding: 0;
}
body{
    padding: 1em;
}
h2 {
    font-family: 'Mulish';
    font-size: 40px;
    color: #0a2ff1;
    font-weight:400;
  
}
h1{
    color: #0a2ff1;
    font-size: 80px;
    font-weight:900;
    margin-bottom: 5%;
}
p{
    font-size: 24px;
    color: #04146c;
    margin-top: 2%;
    margin-bottom: 5%;
}
strong{
    font-weight: 700;
}
button{
    background-color: #0a2ff1;
    font-size: 29px;
    color: white;
    font-weight: 700;
    border: none;
    height: 70px;
    width: 400px;
}
#contenedor{
    display: flex;
    justify-content:center;
    position: relative;
}
div{
    position: absolute;

}
#derecha{
    right: 0%;
    top: 300px;
    width: 50%;
    margin: 1%;
}
#izquierda{
    left: 0px;
    top: 250px;
    width: 50%;
    margin: 1%;
}
#centro{
position: fixed;
left: 1025px;
top: 150px;

}