@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap');

*{
    font-family: 'Mulish';
    font-weight:400;
}

h1{
    font-size: 33px;
    color: #04146c;
    font-weight:700;
    text-align: center;
}

input{
    font-family: 'Mulish';
    border: 1px solid #414166;
    font-weight:400;
    font-size: 23px;
    width: 500px;
    height: 50px;
    margin-bottom: 10px;
}

#enviar{
    font-family: 'Mulish';
    font-size: 23px;
    color: white;
    font-weight: 600;
    width: 500px;
    height: 50px;
    margin-bottom: 10px;
    background-color:#15163d;
}

section{
    display: flex;
    justify-content: center;
}
.contenedorHijo{
    background-color: white;
    position: absolute;
    top: 50px;
    left: 100px;
    width: 600px;
    height: 350px;
    margin: auto;
    padding: auto;
}

.contenedor{
    background-image: url(/images/M4-desafio1-fondo-form.png);
    width: 800px;
    height: 450px;
    top: 400px;
    margin: auto;
    padding: auto;
    position: relative;
}