@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;700;900&display=swap');

*{
    font-family: 'Source Sans 3';
    font-weight:400;
    margin: auto;
    text-align: center;
}
h2{
    background-color: #04146c;
    font-size: 29pt;
    color: white;
}
h1{
    font-size: 66pt;
    color: #04146c;
    font-weight:900;
    margin-top: 5%;
    margin-bottom: 5%;
} 
h3{
    font-size: 20pt;
    color: #04146c;
    margin-bottom: 2%;
}
strong{
    font-weight:700;
}
p{
    font-size: 18pt;
    color: #04146c;
    background-color:#edf7ff;
}